@import "../../../styles.scss";

footer {
    text-align: center;
 }
 
 .social-media {
    display: flex;
    justify-content: space-around;
 }
 
 .social-media a {
    font-size: 4rem;
    color: $black;
    text-decoration: none;
    cursor: pointer;
 }
 
 .btn-download-cv button {
    cursor: pointer;
    padding: 15px;
    border-radius: 9px;
    border: none;
    color: $white;
    background-color: $blueforest;
 }
 
 footer {
    margin-bottom: 2rem;
 }