 <footer>
    <section class="btn-download-cv">
       <button>Download my CV</button>
    </section>

    <section  class="social-media">
       <a target="_blank" href="https://www.linkedin.com/in/mario8ato/"><i class="fab fa-linkedin"></i></a>
       <a href="https://github.com/mario8a"><i class="fab fa-github-square"></i></a>
       <a href="https://www.instagram.com/mario_8a_/"><i class="fab fa-instagram-square"></i></a>
    </section>

 </footer>