@import "../../../styles.scss";

.demo-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 
 .demo-section i{
    font-size: 2.5rem;
 }
 
 .demo-section .btn-demo {
    background-color: $greenwater;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: $black;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;

 }