<section>
   <div class="main-container padding-content-100">
      <h2 class="subtitle">Proyectos</h2>

      <article
         class="project card padding"
         *ngFor="let project of projetcs"
      >
         <div class="img-card">
            <img
               [src]="project.image"
               alt="Project image"
            >
         </div>

         <div>
            <h3>{{project.nombre}}</h3>
            <p>{{project.description}}</p>
            <h4>Technologies used</h4>
            <ul>
               <li>{{project.techologies}}</li>
            </ul>
            <div class="demo-section">
               <a
               *ngIf="project.repo"
                  target="_blank"
                  [href]="project.repo"
               >
                  <i class="fab fa-github-square"></i>
               </a>
               <a *ngIf="project.demo" target="_blank" [href]="project.demo" class="btn-demo">Demo</a>
            </div>
         </div>
      </article>
   </div>
</section>