<section>
   <h2 class="main-container subtitle">Eventos</h2>
    <div class="main-container-events padding-content-100">
       
       <article class="card-events">
          <div class="img-card">
             <img class="event-img" src="../../../assets/img/SW.png" alt="Logotipo del evento">
          </div>
          <div class="info-event">
             <h4>Startup Weekend EdTech/AI</h4>
             <p>Durante 3 dias, 120 participantes vivieron una experiencia unica de emprendimiento en la que formaron equipos y desarrollaron ideas de negocio sobre educacion y AI para presentar el ultimo dia un MVP ante un jurado</p>
             <p>Junto con un asombroso equipo y yo logramos organizar este evento totalmente online</p>
          </div>
       </article>

       <article class="card-events">
         <div class="img-card">
            <img class="event-img" src="../../../assets/img/academy.jpg" alt="Logotipo del evento">
         </div>
         <div class="info-event">
            <h4>Startup Weekend Academy</h4>
            <p>Un evento dirigido a docentes que quieran desarrollar una idea innovadora o busquen aportar soluciones que puedan cambiar la vida diaria del profesor y en la educación </p>
         </div>
      </article>

    </div>
 </section>