@import '../../../styles.scss';


.main-container-events {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   // align-items: center;
}

.card-events {
    margin-top: 2rem;
    padding: 2rem;
    border-radius: $radius;
    box-shadow:  20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
 }
 
 .event-img {
    border-radius: 12px;
    width: 18rem;
 }
 
 .info-event {
    padding: 10px;
 }

 @media (min-width: 768px) {
   .main-container-events {
      flex-direction: row;
   }
 }