<!-- Header section -->
<app-header></app-header>

<!-- Projects section -->
<app-projet></app-projet>
<!-- Events section -->
<app-events></app-events>

<!-- Footer section -->

<app-footer></app-footer>