/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400&display=swap');
/* font-family: 'Andika New Basic', sans-serif; */

$blue-color:#4a69bd;
$blueforest:#0a3d62;
$greenwater:#38ada9;
$white: #f5f6fa;
$black:#303952;
$radius:10px;

// @import './app/portafolio/header/header.component.scss';
// @import './app/portafolio/projet/projet.component.scss';
// @import './app/portafolio/events/events.component.scss';
// @import './app/portafolio/footer/footer.component.scss';

body {
   font-family: 'Andika New Basic', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.main-container {
   width: 60rem;
   max-width: 100%;
   margin: 0 auto;
}

.padding-content-100 {
   padding-top: 6.25rem;
   padding-bottom: 6.25rem;
}

.padding {
   padding-inline-start: 1.25rem;
   padding-inline-end: 1.25rem;

   padding-block-start: 1em;
   padding-block-end: 1em;
}

img {
   max-width: 100%;
}

.img-card {
   display: flex;
   justify-content: center;
   align-self: center;
   img {
      // width: 100%;
      height: 15rem;
   }
}

.card {
   margin: 20px;
   border-radius: $radius;
   box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}


@media (min-width: 768px) {

   .card {
      margin-top: 20px;
   }
   .project {
      display: grid;
      /* grid-template-columns: repeat(2, 1fr); */
      grid-template-columns: 350px minmax(0,1fr);
      column-gap: 2rem;
   }

   /* events */

   .card-events {
      width: 20rem;
   }

   // footer

   footer {
      display: flex;
      justify-content: space-around;
      align-self: center;
   }

   .social-media {
      width: 20%;
      display: flex;
      justify-content: space-around;
   }

   .btn-download-cv {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}