@import "../../../styles.scss";

header.main {
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

   //  img {
   //     width: 15rem;
   //     height: 15rem;
   //     border-radius: 100%;
   //     object-fit: cover;
   //  }

   .header-left {
      width: 100%;
      margin-top: 3rem;
      img {
         height: 100%;
         width: 13rem;
         height: 13rem;
         border-radius: 100%;
         // object-fit: cover;
      }
   }

   .header-right {
       .image-container {
           img {
            width: 15rem;
            height: 15rem;
            border-radius: 100%;
            object-fit: cover;
         }
       }

      .header-right__info {
         text-align: center;
      }
   }

 
    .title {
       font-size: 1.8rem;
    }
    
    .subtitle {
       font-size: 1.2rem;
       padding: 0 12px;
      //  width: 80%;

       b {
         font-size: 1.2rem;
       }
    }
    
    .subtitle span {
       font-size: 1rem;
      //  padding: 6px 0;
    }
 }

 @media (min-width: 768px) {

   header.main {
      display: flex;
      flex-direction: row;
      
      .header-left {
         flex-basis: 50%;
         height: 100%;
         margin: 0;
         img {
            width: 100%;
            height: 100%;
            border-radius: 0;
            object-fit: cover;
         }
      }
   
      .header-right {
         flex-basis: 50%;

          .image-container {
             display: none;
          }

         .header-right__info {
            text-align: center;
         }
      }
   }


 }