<header class="main">
    <section class="header-left">
        <img src="../../../assets/img/FB_IMG_1559798919145.jpg" alt="">
    </section>
    <section class="header-right">
        <div class="header-right__info">
            <!-- <div class="image-container">
                <img src="../../../assets/img/FB_IMG_1559798919145.jpg" alt="">
            </div> -->
            <h1 class="animate__animated animate__bounceInLeft title">Hi! I am Mario Ochoa</h1>

            <p class="subtitle">
                

                <b>I am web developer</b>
        
                <br>
        
                <span>
                    I am a passionate of entrepreneurship, programming, and technology. I’m also interested in innovation and web development. Currently I work on my skills in the development of web applications with React and Angular.
                </span>
                <span>
                    | Computer Engineer at UNAM and Co Organizer in Startup Weekend CDMX
                </span>
            </p>
        </div>
    </section>
    <!-- <img
        src="../../../assets/img/selfie.jpeg"
        alt="ilustracion de una laptop"> -->

   
</header>